@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  user-select: none;
  cursor: pointer;
  background-color: #0d6efd;
}

@font-face {
  font-family: MontserratBold;
  src: url(Fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratLight;
  src: url(Fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(Fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratRegular;
  src: url(Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(Fonts/Montserrat-SemiBold.ttf);
}

:root {
  --bg-Color: #4070f4;
  --text-Color: #ffffff;
}
.alert-main {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  z-index: 100 !important;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;
}

.main,
.signup-main,
.login-main,
.dashboard-main {
  height: 100% !important;
  min-height: 100% !important;
  background-color: var(--bg-Color);
}

.navbar {
  height: 80px;
}

.dashboard {
  width: 500px;
  height: 500px;
  background-color: var(--text-Color);
}

.logo {
  width: 60px;
}

.todo-logo {
  width: 40px;
}

.navbar {
  z-index: 1;
}

.logout-btn {
  z-index: 2;
}
.spinner-grow {
  width: 6rem;
  height: 6rem;
}

.signup-form,
.login-form {
  width: 450px;
  height: 700px;
  background-color: var(--text-Color);
}

.login-form {
  height: 400px;
}

.user-details {
  height: 100px;
}

input {
  font-weight: 500 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

#User-Profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
    background-color: var(--bg-Color);
    color: var(--text-Color);
}

#phone-number-input::-webkit-outer-spin-button,
#phone-number-input::-webkit-inner-spin-button,
#profile-input::-webkit-file-upload-button {
  display: none !important;
}

#FacebookBtn {
  background-color: #4367b2;
}
.google-icon {
  width: 28px;
  height: 28px;
}

.user-exist-check {
  width: 500px;
  height: 400px;
}

#SuggestionAccount {
  color: #8d7c7c;
}
#SuggestionAccount::after,
#SuggestionAccount::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 1px;
  background-color: #8d7c7c;
}

#SuggestionAccount::after {
  right: 0;
}

#SuggestionAccount::before {
  left: 0;
}

.password-icon {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

.task-complete-check-box {
  cursor: pointer;
}

#AddTaskTextInput {
  box-shadow: none !important;
}

.todo-app {
  width: 500px;
  height: max-content;
  max-height: 700px;
  overflow-y: scroll;
}

.todo-body {
  height: max-content;
}

.logout-btn {
  display: none;
}

@media (max-width: 600px) {
  .main {
    padding: 0 10px;
  }
  .alert-main {
    padding: 0 10px;
  }
  .user-exist-check {
    width: 100%;
  }

  .dashboard-main {
    padding: 0 10px;
  }
  .logo,
  #User-Profile {
    width: 50px;
    height: 50px;
  }

  .dashboard {
    width: 100%;
  }
  .todo-app {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .signup-main,
  .login-main {
    padding: 0 10px;
  }
  .signup-form,
  .login-form {
    width: 100%;
  }
  .main {
    padding: 0 10px;
  }
  #SuggestionAccount::after,
  #SuggestionAccount::before {
    width: 140px;
  }
  #GoogleBtn,
  #FacebookBtn {
    display: flex;
    flex-wrap: wrap;
  }
  .facebook-icon,
  .google-icon {
    position: static;
  }
  .facebook-icon {
    font-size: 14px !important;
  }
  .google-icon {
    width: 18px;
    height: 18px;
  }

  .taskMarkedCheckboxBtn,
  #AddTaskBtn,
  .task-edit-btn,
  .task-delete-btn {
    font-size: 15px !important;
    padding: 5px 20px !important;
  }
  .todo-form {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 501px) {
  .todo-app {
    max-height: 800px;
  }

  .todo-header {
    height: 200px;
  }
}

@media (max-width: 412px) {
  #AddTaskBtn,
  #UpdateTaskBtn,
  .task-edit-btn,
  .task-delete-btn,
  .task-complete-btn {
    padding: 5px 15px !important;
    font-size: 12px !important;
  }
}

@media (max-width: 400px) {
  #SuggestionAccount::after,
  #SuggestionAccount::before {
    width: 80px;
  }
  #GoogleBtn,
  #FacebookBtn {
    font-size: 14px;
  }
}

@media (max-height: 680px) {
  .dashboard {
    margin-top: 5rem;
  }
}

@media (max-height: 600px) {
  .signup-form {
    height: max-content !important;
    max-height: 700px !important;
    overflow-y: scroll;
    gap: 10px !important;
  }
}
